@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    /* padding: 0; */
    margin: 0;
}


/* global variables */
:root{
    --bgc: rgb(89, 89, 204);
    --color: rgb(251, 241, 241);
    --font-style: italic;
    --font-family: "Zilla Slab", serif;
    --hover-color: rgba(255, 255, 255, 0.308);
}


body {
    background-color:var(--bgc)
}

ol {
    /* local variables */
    --bgc:#219abcd6;

    list-style: none;
    display: flex;
    padding-left: 750px;
    border: 2px solid black;
    margin-top: 10px;
    background-color: var(--bgc);
    color: var(--color);
    height: 9vh;
    /* border: none; */
}
li{
    padding: 40px;
    font-family: var(--font-family);
    text-transform:capitalize;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

li:hover{
    background-color: var(--hover-color);
}

a{
    text-decoration: none;
    /* color: blueviolet; */
}
section{
    color: var(--color);
    width: 80vw;
    padding-left: 50px;
    margin-top: 30px;
    font-family: var(--font-family);
    line-height: 1.5;
    text-align: justify;
}

section h2{
    padding-bottom: 20px;
    text-decoration: underline;
    font-size:30px;

}