@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    /* background-color: aqua; */
}

ol {
    /* border: 3px solid black; */
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 8vh;
    cursor: pointer;
    margin-top: 10px;
}

li {
    padding: 22px;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: green;
}

.ten {
    padding-right: 300px;
    width: 10vw;
    height: 6vh;
}

.eleven {
    width: 2vw;
    height: 3vh;
}


/* -------------------------------------------content part */

.main {
    /* border: 2px solid rebeccapurple; */
    width: 39vw;
    height: 8vh;
    text-align: center;
    margin-top: 90px;
    margin-left: 500px;
    font-family: "Zilla Slab", serif;
    font-size: 50px;


}

.sub-part {
    /* border: 2px solid rebeccapurple; */
    width: 50vw;
    height: 15vh;
    text-align: center;
    margin-top: 15px;
    margin-left: 400px;

    font-family: "Zilla Slab", serif;
    font-size: 37px;
}

button {
    background-color: #09a6bd;
    text-align: center;
    width: 15vw;
    margin-top: 30px;
    margin-left: 750px;
    font-family: 'Playfair Display';
    font-weight: bold;
    font-size: 17px;
    padding: 12px;
    border-radius: 9px;
    color: white;
    border: 2px solid #09a6bd;
}

button:hover {
    background-color: #09a5bdd5;
    cursor: pointer;

}


/* ------------------------------------another content-------------- */

.line {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 500px;
    margin: 80px;
    border: none;
    font-size: 20px;
}

#sub-line {
    padding-right: 15px;
    width: 60px;
    height: 55px;
}


/*-------------------------------- Grid layout of Download part--- */
.container {
    border: 2px solid black;
    width: 95vw;
    height: 72vh;
    margin-top: -40px;
    /* margin-left: 480px; */
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 50px 50px 50px 50px;
    justify-content: center;
    align-items:start;
    gap: 60px;
    row-gap: 130px;
    column-gap: 200px;
    padding-top: 50px;
    border: none;
    margin-bottom: 100px;
    /* grid-template-columns: repeat(2, minmax(600px, 1fr)); */

}

.container div a{
    border: 2px solid #50cb63;
    display: flex;
    width: 7vw;
    height: 3vh;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    background-color: #50cb63;
    
    font-size: 13px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
.container div a:hover{
    background-color: #90cb99;
}

.container div{
    text-align: center;

}

.fonts{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* font-size: 20px; */
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 20px;


    
}


/* ----------------------------footer part  */

.cont-footer{
    background-color:#222222;
    color: white;
    height: 60vh;
    margin-bottom: 50px;

}

.one{
    border: 2px solid white;
    width: 20vw;
    height: 9vh;
    font-family: 'Segoe UI';
    text-align: center;
    margin-left: 250px;
    line-height: 25px;
    border: none;
}
.one::first-line{
    font-weight: bold;
    font-size: 20px;
    line-height: 35px;
}

.two{
    /* border: 2px solid white; */
    border-radius: 10px;
    width: 15vw;
    height: 20vh;
    text-align: center;
    padding: 20px;
    line-height: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -30px;
    margin-right: 300px;
    font-size: larger;
    background-color: white;
    color: black;

    
    
}

.two a{
    /* border: 2px solid yellow; */
    background-color: white;
    padding: 6px 90px;   
    background-color: #09a6bd;
    
    
}
.two a:hover {
    background-color: #09a5bdd5;
    cursor: pointer;

}
#email{
    padding: 12px 40px;
    margin-bottom: 15px;
}

.combine{
    padding-top: 80px;
    display: flex;
    justify-content: space-evenly;
    height:24vh ;
    padding-bottom: -200px;
    /* border: 2px solid rgb(233, 161, 26); */
}


.three{
    /* border: 2px solid white;
    width: 80vw;
    height: 10vh;

    padding: 15px; */
    /* border: 2px solid white; */
    width: 50vw;
    height: 22vh;
    font-family: 'Segoe UI';
    /* text-align: center; */
    margin-left: 380px;
    line-height: 35px;
    margin-top: 20px;
}


