@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

img {
    width: 28vw;
    height: 30vh;
    /* padding: 10px; */
    /* border: 2px solid black; */

    border-radius: 10px;
    position: relative;
    left: 19px;
    top: 15px;
}

nav ol {
    list-style: none;
    display: flex;
    /* margin: 200px; */
    /* padding: 0px; */
    margin-top: 25px;

}

nav ol li {
    padding: 10px;
    margin: 2px;
    border: 2px solid rgba(146, 118, 118, 0.897);
    border-radius: 15px;
    /* font-family: "Lobster", sans-serif; */
    font-family: "Zilla Slab", serif;
    width: 3.5vw;
    text-align: center;
}

.one {
    /* border: 2px solid black; */
    width: 27vw;
    height: 32vh;
    padding-left: 10px;
    margin: 20px;
    font-family: "Zilla Slab", serif;
    
}

.one button {
    width: 8vw;
    position: relative;
    top: 45px;
    left: 180px;
    border: 2px solid black;
    border-radius: 100px;
    padding: 20px;
    font-family: "Zilla Slab", serif;
    font-weight:900;
    font-size:medium;
    color: rgb(64, 64, 204);
    background-color: rgb(206, 237, 252);

}

button:hover{
    background-color: aqua;
}
#main {
    border: 2px solid black;
    border-radius: 15px;
    width: 30vw;
    height: 80vh;
    position: relative;
    left: 700px;
    top: 30px;
    box-shadow: 12px 14px 4px gray;
}